
<!-- We gebruiken # bij ons links zodat de browser geen actie gaat ondernemen -->
<ul id="top" class="nav nav-tabs bottom-buffer">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#registration">Registratie</a></li>
</ul>


<div ng-hide="loadingUsers" class="form-group">
    <label for="search">Zoek een gebruiker:</label>
    <input type="text" id="search" class="form-control input-sm" ng-model="search.name">
</div>

<p ng-if="userDeleted != null">Je hebt {{ userDeleted }} verwijderd!</p>

<div ng-hide="loadingUsers" ng-repeat="user in users | filter:search">
    <h3>{{ user.given_name }} {{ user.family_name }}</h3>
    <p>id: {{ user.id }}</p>

    <p><a href="#userDetail" ng-click="showUser(user.id)" class="text-muted">Bekijken</a></p>
    <p><a href="#/" ng-click="deleteUser(user.id, user.name)" class="text-muted">Verwijderen</a></p>
</div>

<!-- loadingUsers is een variabele in de mainController -->
<p class="text-center" ng-show="loadingUsers"><span class="fa fa-spinner fa-5x fa-spin"></span></p>
