<!-- We gebruiken # bij ons links zodat de browser geen actie gaat ondernemen -->
<ul class="nav nav-tabs bottom-buffer">
    <li role="presentation" ><a href="#/">Home</a></li>
    <li role="presentation" class="active"><a href="#registration">Registratie</a></li>
</ul>

<form ng-submit="submitUser()" name="registrationForm"> <!-- ng-submit doet een preventDefault en linkt naar ons functie uit mainController -->

    <div class="form-group">
        <input type="text" class="form-control input-sm" name="given_name" ng-model="userData.given_name" placeholder="Voornaam" required>
        <div ng-show="registrationForm.given_name.$error.required && registrationForm.given_name.$touched">Vergeet je voornaam niet</div>
    </div>

    <!-- COMMENT TEXT -->
    <div class="form-group">
        <input type="text" class="form-control input-sm" name="family_name" ng-model="userData.family_name" placeholder="Familienaam" required>
        <div ng-show="registrationForm.family_name.$error.required && registrationForm.family_name.$touched">Vergeet je achternaam niet</div>
    </div>

    <div class="form-group">
        <input type="email" class="form-control input-sm" name="email" ng-model="userData.email" placeholder="Email" required>
        <div ng-show="registrationForm.email.$error.required && registrationForm.email.$touched">Vergeet je mail niet</div>
        <div ng-show="registrationForm.email.$error.email && registrationForm.email.$touched">Fout mail-adres</div>
    </div>

    <div class="form-group">
        <input type="password" class="form-control input-sm" name="password" ng-model="userData.password" placeholder="Wachtwoord" required>
        <div ng-show="registrationForm.password.$error.required && registrationForm.password.$touched">Vergeet je wachtwoord niet</div>
    </div>

    <div class="form-group">
        <input type="password" class="form-control input-sm" name="confirm_password" ng-model="userData.password_verify" placeholder="Wachtwoord herhalen" data-password-verify="userData.password" required>
        <div ng-show="registrationForm.confirm_password.$error.required && registrationForm.confirm_password.$touched">Herhaal je wachtwoord</div>
        <div ng-show="registrationForm.confirm_password.$error.passwordVerify && registrationForm.confirm_password.$touched">Foute combinatie</div>
    </div>

    <div class="checkbox">
        <label>
        <input type="checkbox" class="" name="licenced" ng-model="userData.licenced">
            Ik heb een rijbewijs
        </label>
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary btn-lg" ng-show="registrationForm.$valid">Submit</button>
    </div>
</form>

<!-- loadingRegistration is een variabele in de mainController -->
<p class="text-center" ng-show="loadingRegistration"><span class="fa fa-spinner fa-5x fa-spin"></span></p>