<!-- We gebruiken # bij ons links zodat de browser geen actie gaat ondernemen -->
<ul class="nav nav-tabs bottom-buffer">
    <li role="presentation" ><a href="#/">Home</a></li>
    <li role="presentation"><a href="#registration">Registratie</a></li>
    <li role="presentation" class="active"><a href="#userDetail">Detail</a></li>
</ul>

<form ng-submit="updateUser(user.id)" name="registrationForm"> <!-- ng-submit doet een preventDefault en linkt naar ons functie uit mainController -->

    <div class="form-group">
        <label for="given_name">Voornaam:</label>
        <input type="text" class="form-control input-sm" id="given_name" name="given_name" ng-model="userData.given_name" required>
        <div ng-show="registrationForm.given_name.$error.required && registrationForm.given_name.$touched">Vergeet je voornaam niet</div>
    </div>

    <div class="form-group">
        <label for="family_name">Familienaam:</label>
        <input type="text" class="form-control input-sm" id="family_name" name="family_name" ng-model="userData.family_name" required>
        <div ng-show="registrationForm.family_name.$error.required && registrationForm.family_name.$touched">Vergeet je achternaam niet</div>
    </div>

    <div class="form-group">
        <label for="email">E-mail:</label>
        <input type="email" class="form-control input-sm" id="email" name="email" ng-model="userData.email" required>
        <div ng-show="registrationForm.email.$error.required && registrationForm.email.$touched">Vergeet je mail niet</div>
        <div ng-show="registrationForm.email.$error.email && registrationForm.email.$touched">Fout mail-adres</div>
    </div>

    <div class="form-group">
        <label for="birthday">Geboortedatum:</label>
        <input type="text" class="form-control input-sm" id="birthday" name="birthday" ng-model="userData.birthday" >
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" class="" name="licenced" ng-model="userData.licenced" ng-checked="userData.licenced">
            Ik heb een rijbewijs
        </label>
    </div>

    <div class="form-group">
        <label for="description">Beschrijving van mezelf:</label>
        <input type="text" class="form-control input-sm" id="description" name="description" ng-model="userData.description" rows="3">
    </div>

    <div class="form-group">
        <label for="hobbys">Hobby's:</label>
        <input type="text" class="form-control input-sm" id="hobbys" name="description" ng-model="userData.hobbys" rows="3">
    </div>

    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary btn-lg" ng-show="registrationForm.$valid">Submit</button>
    </div>
</form>

<!-- loadingRegistration is een variabele in de mainController -->
<p class="text-center" ng-show="loadingUpdate"><span class="fa fa-spinner fa-5x fa-spin"></span></p>