<ul id="top" class="nav nav-tabs bottom-buffer">
    <li role="presentation"><a href="#">Home</a></li>
    <li role="presentation"><a href="#registration">Registratie</a></li>
    <li role="presentation" class="active"><a href="#userDetail">Detail</a></li>
</ul>

<!-- loadingUsers is een variabele in de mainController -->
<p class="text-center" ng-show="loadingUser"><span class="fa fa-spinner fa-5x fa-spin"></span></p>


<div ng-hide="loadingUser">
    <h3>{{ user.given_name }} {{ user.family_name }}</h3>
    <ul>
        <li>Id: {{ user.id }}</li>
        <li>Email: {{ user.email }}</li>
        <li>In bezit van rijbewijs:
            <span ng-if="user.licenced == 0">nee</span>
            <span ng-if="user.licenced == 1">ja</span>
        </li>
        <li>Geboortedatum:
            <span ng-if="user.birthday == null">niet opgegeven</span>
            <span ng-if="user.birthday != null">{{ user.birthday }}</span>
        </li>
        <li>Beschrijving:
            <span ng-if="user.description == null">niet opgegeven</span>
            <span ng-if="user.description != null">{{ user.description }}</span>
        </li>
        <li>Hobby's:
            <span ng-if="user.hobbys == null">niet opgegeven</span>
            <span ng-if="user.hobbys != null">{{ user.hobbys }}</span>
        </li>
    </ul>

    <p><a href="#userUpdate" class="text-muted">Bewerken</a></p>

</div>